extends template

block content
	h1 IP Address Geoloation
	p *Leave blank to use your current IP Address
        
	input#txtIP.softCorners(type="text", placeholder="Enter an IP Address")
	br
	button#GetIpInfo.btn.btn-primary Get Geolocation Info
	button#Clear.btn.btn-secondary.btn-space Clear

	div#results
		p#ipAdd IP Address: 
		p#gCity City: 
		p#gRegion Region: 
		p#gCountry Country: 
		p#gContinent Continent: 
		p#gLat Latitude: 
		p#gLong Longitude: 
		p#gTimezone Timezone: 



