<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="/libraries/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/tech.css")
        title= title
    body
        .container-fluid
            block content

        script(src="/libraries/jquery/jquery-3.3.1.min.js")
        script(src="/libraries/popper/popper.min.js")
        script(src="/libraries/bootstrap/js/bootstrap.min.js")
        script(src="geoservice.js")