#txtIP {
    margin: 10px 0px;
}

#results {
    display: none;    
    padding: 10px;
    margin-top: 10px;
    border: Solid blue 2px;
    width: 300px;
}

.btn-space {
    margin-left: 10px;
}

.softCorners {
    border-radius: 10px;
    padding: 5px;
}